@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation nuages */
@keyframes floatCloud {
  0% { transform: translateX(0px); }
  100% { transform: translateX(120vw); }
}

/* Animation fade-up */
@keyframes fade-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}

@keyframes float-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-float-slow {
  animation: float-slow 4s ease-in-out infinite;
}

@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}
