@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation étoiles filantes */
@keyframes fall {
  0% { transform: translateY(-100px); opacity: 0; }
  10% { opacity: 1; }
  100% { transform: translateY(110vh); opacity: 0; }
}

.animate-fall {
  animation: fall 3s linear infinite;
}

/* Animation nuages */
@keyframes floatCloud {
  0% { transform: translateX(0px); }
  100% { transform: translateX(120vw); }
}

/* Animation fade-up */
@keyframes fade-up {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fade-up {
  animation: fade-up 1s ease-out forwards;
}
@keyframes float-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.animate-float-slow {
  animation: float-slow 4s ease-in-out infinite;
}
@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

.animate-floating {
  animation: floating 4s ease-in-out infinite;
}

@keyframes fallStar {
  0% {
    transform: translate(0, 0) rotate(0deg);
    opacity: 1;
  }
  100% {
    /* Les étoiles se déplacent de --dx pixels horizontalement et atteignent le bas de l'écran (110vh pour être sûr qu'elles disparaissent) */
    transform: translate(var(--dx), 110vh) rotate(45deg);
    opacity: 0;
  }
